<div class="default-node-editor" *ngIf="nodeViewDescriptor;else noDetails">
	<div class ="Attributes" *ngIf="nodeViewDescriptor.attributes.length !=0">
		<h4> Attributes: </h4>
		<ul>
			<li *ngFor="let att of nodeViewDescriptor.attributes">
				{{att.name}} ({{att.type}}) : <default-einput [type]="att.type" [initialValue]="att.value" (value)="AttributeChange(att,$event)" > </default-einput>
			</li>
		</ul>
	</div>

	<div class="References" *ngIf="nodeViewDescriptor.references.length !=0">
		<h4> References: </h4>
		<ul>
			<li *ngFor="let ref of nodeViewDescriptor.references">
				{{ref.name}}
				<ul>
					<li *ngFor="let refNode of ref.nodes">
						<span class="textbtn" (click)="RemoveReferenceClick(refNode.nodeId,ref)">X</span> {{refNode.name}}  : ({{refNode.nodeId}})
					</li>
				</ul>
				<span class="textbtn" (click)="AddReferenceClick(ref)">Add {{ref.name}}</span>
			</li>
		</ul>		
	</div>
</div>

<ng-template #noDetails>
	No nodeViewDescriptor
</ng-template>
