.treeView ul li{
	list-style-type: none;
	margin-top:0;
	cursor: pointer;
}
.treeView ul{
	margin-top:0;
	padding-left: 10px;
}

.treeView{
	cursor: pointer;
	padding-left: 10px;
}

.toggleIcon{
	cursor: pointer;
}