.removeBtn{
  cursor: pointer;
  background: #d12e0e;
	border-radius: 15px;
	padding-left: 0.3em;
	padding-right: 0.3em;
	border: 0;
	border-color: transparent;
}

input{
	color: black;
}

select{
  cursor: pointer;
  background: #1d1f2b;
  border-radius: 3px;
}

button{
  cursor: pointer;
  background: #1d1f2b;
  border-radius: 3px;
  padding-left:  1em;
  padding-right: 1em;
}


